.Box {
  width: 100%;

  background: linear-gradient(90deg, #003ec4 0%, #1458ea 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchBar {
  padding-bottom: 5;
}

.form-control {
  border-radius: 0;
}
.mr-sm-2 {
  min-width: 280px;
}

.fontLato {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

  letter-spacing: -0.015em;

  color: #ffffff;
}

.navItems {
  margin-top: auto;
  margin-right: auto;
  margin: 10px;
  color: #ffffff;
}

.navItems:hover {
  color: aliceblue;
}

/* This is the start of new navBar */
