.hello {
  width: 100%;

  background: linear-gradient(90deg, #003ec4 0%, #1458ea 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchBar {
  position: absolute;
  height: 38px;
}

.fontLato {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

  letter-spacing: -0.015em;

  color: #ffffff;
}
