.role{
    
  position: absolute;
  width: 662px;
  height: 39px;
  left: 440px;
  top: 143px;
  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 46px;
  /* or 91% */
  
  text-align: center;
  letter-spacing: -0.015em;
  text-decoration-line: underline;
  
  color: #000000;
  }

.boxleft{ 
position: absolute;
width: 432px;
height: 143px;
left: 374px;
top: 270px;

background: #F5F5F5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
 }
 .outisdeboxleft {
  position: absolute;
  width: 432px;
  height: 425px;
  left: 374px;
  top: 268px;
  
  background: #ecebeb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

 }

 /* People icon */

.people{
position: absolute;
width: 76px;
height: 76px;
left: 669px;
top: 299px;

border-radius: 10px;
}

.texts{

  
position: absolute;
width: 197px;
height: 46px;
left: 443px;
top: 315px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 46px;
/* identical to box height, or 91% */

text-align: center;
letter-spacing: -0.015em;

color: #000000;

}

.text11{position: absolute;
  width: 380px;
  height: 188px;
  left: 410px;
  top: 420px;
  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */
  
  letter-spacing: 0.025em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  

  
}

.next1{
 
  
  position: absolute;
  left: 19%;
  right:41.75%;
  top: 83.67%;
  bottom: 18.91%;
  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 31.3953px;
  line-height: 38px;
  text-align: center;
  
  color: #1458EA;

}

.button{
  position: absolute;
  width: 325px;
  height: 45px;
  left: 429px;
  top: 632px;
  
  border-radius: 5px;
border-color: #1458EA;

}
