.card { 
    margin-bottom: 15px !important;
    margin-top: 20px;
 }

 .Events{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    font-stretch: expanded;
    line-height: 50px;
    margin-top: 40px;
    /* or 91% */
  
    text-align: center;
    letter-spacing: -0.015em;
   
  
    color: #000000;
 }